<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{ title }}!</h1>

  <div>
    <img height="150" alt="Angular Logo" src="https://i.redd.it/qm9sqhuug9sy.jpg">
  </div>

  <a href="https://material.angular.io/cdk/drag-drop/overview" target="_blank" rel="noopener noreferrer">Regarde là, y a
    plein d'exemples trop supers !</a>

</div>


<div class="main-container">

  <div class="dd-container">
    <h3>Basic</h3>
    <app-basic-drag-and-drop></app-basic-drag-and-drop>
    <app-basic-horizontal-drag-and-drop></app-basic-horizontal-drag-and-drop>
    <app-basic-vertical-drag-and-drop></app-basic-vertical-drag-and-drop>
  </div>

  <div class="dd-container">
    <h3>Sorting</h3>
    <app-sorting-drag-and-drop></app-sorting-drag-and-drop>
  </div>

  <div class="dd-container">
    <h3>Connected sorting</h3>
    <app-sorting-connected-drag-and-drop></app-sorting-connected-drag-and-drop>
  </div>

  <div class="dd-container">
    <h3>Feedback visuel sur le Drop</h3>
    <app-sorting-place-holder-drag-and-drop></app-sorting-place-holder-drag-and-drop>
  </div>

</div>
<router-outlet></router-outlet>